<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hyy! this my fist  html file in  python flask</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
 <p><h1>HII</h1>
<b><h2>START BACKEND💻💻</h2> </b> 
<h2>ki jani ki ki j korte6i r ki ki j korbo bujhtei parte6i naa</h2>
 </p> 
 <p><b>welcome to my page </b></p>
 <img src="https://miro.medium.com/max/2000/1*raFdNyjEg10Tz8eDRZMtLg.png" alt="">
 <p>ajke ami html file a aktu kaj korlam <br>aj theke amr jibon a first backend start <br>🤣🤣🤣r vule ge6i

 </p>
  </body>
</html>
